body{
	font-family: Tahoma;
	font-size:11pt;
}

th{
	font-size:13t;
	background-color: red;
	color: white;
	padding: 2px;
}

td{
  padding: 5px;
}

input{
    border: 1px dotted red;
    padding: 5px ;
    background: #fffacd;
    width: 270px;
}
table {
    border-collapse: collapse;
    border: 1px solid red;
    background: url(images/bgbottom_blue.jpg)  left bottom repeat-x;
}

button {
	padding: 5px 15px;
	background-color:red;
	border: 1px green solid ;
	color:white;
}